.action-bar, .clear-completed-todos-button {
    align-items: center;
    font-weight: 500;
    font-size: 15px;
}

.action-bar {
    display: flex;
    position: relative;
    border-top: 1px solid var(--todo-border-view-color);
    min-height: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.item-counter {
    cursor: default;
}

.action-bar-item:nth-child(1) {
    position: absolute;
    left: 0;
    padding-left: 10px;
}

.action-bar-item:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}

.action-bar-item:nth-child(3) {
    position: absolute;
    right: 0;
    padding-right: 10px;
}

.filter-todos {
    position: fixed;
    left: -9999px;
}

.todo-filter-item-text {
    padding: 5px;
}

.filter-todos:checked + .todo-filter-item-text {
    border: 1px solid var(--todo-border-view-color);
    border-radius: 5px;
    padding: 4px;
}

.clear-completed-todos-button, .todo-filter-item, .todo-filter-item-text {
    cursor: pointer;
}

.clear-completed-todos-button {
    border: 0;
    padding: 5px;
    background: var(--todo-button-background);
    color: var(--todo-items-text-color);
    font-family: "Roboto-Light", sans-serif;
    font-weight: 500;
    outline: none;
}

.clear-completed-todos-button:hover {
    background-color: var(--todo-item-hover);
}

.clear-completed-todos-button:focus {
    border: 1px solid var(--select-all-todos-button-focus);
    border-radius: 5px;
    padding: 4px;
}