@import url(todos-manager.css);
@import url(todo-list.css);
@import url(action-bar.css);

@font-face {
    src: url(fonts/Roboto-Thin.ttf);
    font-family: 'Roboto-Thin';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(fonts/Roboto-Light.ttf);
    font-family: 'Roboto-Light';
    font-weight: normal;
    font-style: normal;
}

:root {
    --todo-header-color: #D5D5D5;
    --todo-body-bachground-color: #F4F4F4;
    --select-all-todos-button-focus: #D5D5D5;
    --main-bachground-color: #FFFFFF;
    --todo-items-text-color: #656565;
    --todo-button-background: #FFFFFF;
    --todo-item-checkbox-border-color: #D5D5D5;
    --todo-item-hover: #FAFAFA;
    --todo-item-delete-button-hover: #EFEFEF;
    --todo-border-view-color: #E9E9E9;
    --checked-todo-item-checkbox: #5BC2AF;
    --checked-todo-list-item-text: #D5D5D5;
}

body {
    background: var(--todo-body-bachground-color);
    margin: 0;
}

.todo {
    display: flex;
    position: sticky;
    left: 0;
    flex-direction: column;
    align-items: center;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    font-family: "Roboto-Thin", sans-serif;
    font-size: 100px;
    font-weight: 100;
    color:  var(--todo-header-color);
    line-height: 0;
    cursor: default;
}

main {
    position: sticky;
    bottom: 0;
    flex-direction: column;
    width: 100%;
    font-family: "Roboto-Light", sans-serif;
    color: var(--todo-items-text-color);
    background: var(--main-bachground-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

main::after, .action-bar::after {
    display: block;
    position: absolute;
    content: '';
    top: 100%;
    background-color: var(--main-bachground-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

main::after {
    width: 542px;
    height: 10px;
    left: 4px;
    z-index: -2;
}

.action-bar::after {
    width: 546px;
    height: 5px;
    left: 2px;
    z-index: -1;
}
