.todo-tasks {
    font-weight: 100;
    font-size: 25px;
    min-height: 300px;
}

.tasks-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.task {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 60px;
}

.task:hover {
    background: var(--todo-item-hover);
}

.task__checkbox {
    position: absolute;
    left: -9999px;
}

.tasks-list__item {
    border-bottom: 1px solid var(--todo-border-view-color);
}

.task__text {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
    overflow-x:hidden;
}

.task__text::before {
    display: inline-block;
    content: '';
    min-width: 39px;
    min-height: 39px;
    border-radius: 26px;
    border: 1px solid var(--todo-item-checkbox-border-color);
    margin: 0 0.5em 0 0.5em;
}

.task__checkbox:checked ~ .task__text {
    color: var(--checked-todo-list-item-text);
    text-decoration-line: line-through;
}

.task__checkbox:checked + .task__text::before {
    background: url(images/check-mark.svg) no-repeat center center;
    border: 1px solid var(--checked-todo-item-checkbox);
}

.task__delete-button {
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    text-indent: -9999px;
    background: url(images/cross.svg) no-repeat center center;
    padding: 0;
    border: 0;
    opacity: 0;
    cursor: pointer;
    outline: none;
}

.task__delete-button:hover {
    background-color: var(--todo-item-delete-button-hover);
}

.task__delete-button:focus {
    border: 1px solid var(--select-all-todos-button-focus);
    border-radius: 5px;
}

.task:hover .task__delete-button {
    opacity: 10;
}
